extends layout

block content 
    h1 User: #{username}
    h2 rival: #{rival}    
    h2 Number of games: #{number}
    ul
        - var matchlist = match
        - for(var i = 0; i < matchlist.length; i++){
        - for(var j = 0; j < 2; j++){
        - for(var k = 0; k < 10; k++){
            - if (k % 2 === 0)
                - var tmp = matchlist[i][j][k]
                img(src=tmp)
            - else 
                li= matchlist[i][j][k]
        -}
        -}
        -}